.idea
nbproject
.buildpath
.project
.settings
Thumbs.db

composer.phar

.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated
/vendor/bin/*
!.gitignore